<IfModule mod_rewrite.c>
  RewriteEngine On
  # Si tu app está en una subcarpeta, ajusta RewriteBase (ej: /mi-app/)
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>